/* Home Styles */
#signing {
    display:flex;
    justify-content: end;
    margin-bottom: 10px;
}

.home-container {
    padding: 2%;
}

.home-container h1 {
    text-align: center;
}

.search-form {
    text-align: center;
}

.home-container input {
    width: 20%;
    display:inline-block;
}

.home-container button {
    width: 5%;
}


/* Signin Styles */

.signin-container {
    padding: 2%;
}

.register {
    display: inline-block;
    width: 40%;
    margin-right: 100px;
}

.register form {
    padding: 2%;
    display: grid;
    grid-template-columns: 30% 40%;
    grid-row-gap: 10px;
}

.register select {
    grid-column: 1 /3;
    width: 20%;
    justify-self: end;
}

.register button {
    grid-column: 1 /3;
    width: 20%;
    justify-self: end;
}

.login {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.login form {
    padding: 10px;
    display: grid; 
    grid-template-columns: 30% 30%;
    grid-row-gap: 5px;
}

.login button {
    grid-column: 1 / 3;
    width: 20%;
    justify-self: end;
    margin-top: 25px;
}

/* Estilos Dashboard Signin */

.dashboard-container {
    padding: 2%;
}

.dashboard-container table {
    margin-bottom: 50px;
}

.new-listing form {
    display: grid;
    grid-template-columns: 10% 30%;
    grid-row-gap: 10px;
}

.new-listing button {
    grid-column: 1 /3;
    width: 15%;
    justify-self: end;
}

.new-listing form { 
    margin-top: 15px;
}

.small-input {
    width: 20%;
    justify-self: end;
}

/* Estilos Search Results */

.results-container {
    padding: 2%;
}

.results-search-form {
    margin-bottom: 30px; 
}

.result-links {
    display: flex; 
    justify-content: end;
}

.result-links a {
    margin-right: 10px;
}

.results-search-form input  {
    width: 20%;
    display: inline-block;
}

/* Estilos Pool */

.pool-container {
    padding: 2%;
}

.info-pool {
    width: 40%;
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
}

.info-host {
    width: 40%;
    display: inline-block;
}

.reviews-container {
    margin-bottom: 30px;
}

.reviews-container h3 {
    display: inline-block;
}

.reviews-container a {
    margin-left: 80%;
}

.reviews {
    padding: 1%;
    border: 2px solid black;
    margin-top: 20px;
}

.review p{
    padding: 10px;
}

/* Estilos Reviews */
.review-container {
    padding: 2%;
}

.add-review form {
    margin-top: 20px;
}

.add-review p {
    widtH: 30%;
    border: 2px solid black;
    padding: 5px;
}

.add-review select {
    display: inline-block;
    width: 60px;
}

.add-review button {
    margin-left: 310px;
}


/* Estilos Host Update */

#txt-host {
    border: 2px solid black;
}

#btn-host {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-edit {
    display: grid;
    grid-template-columns: 20% 12%;
}